{% extends 'useradmin/base.html' %}
{% block title %}AddRoom{% endblock title %}
{% block body %}
    <div class="col-lg-10 d-none d-sm-none d-md-block d-lg-block" style="background-color: #4d4d4d; height:690px;">
      <div class="col-lg-5 py-3 mx-auto text-light">
      <h3>Change Password</h3>
            <!-- edit start -->
            <form action="" method="POST">
              {% csrf_token %}
              
              
              
              <div class="mb-3">
                {% for message in messages %}
          
          <p id="error" style="color:red">{{message}}</p>
          
          {% endfor %}
                <label for="exampleInputOldPassword1" class="form-label">Old Password</label><br>
                {{form.old_password}}
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label><br>
                {{form.new_password1}}
              </div>
              <div class="mb-3">
                <label for="cexampleInputPassword1" class="form-label">Confirm Password</label><br>
                {{form.new_password2}}
              </div>
              <button type="submit" class="btn btn-primary">Save</button>
              <a href="profile" class="btn btn-primary">Cancel</a>
            </form>
            <!-- edit end -->
          </div>
          </div>
{% endblock body %}

