{% extends 'useradmin/base.html' %}
{% block title %}Complaint{% endblock title %}
{% block body %}
        <div class="col-lg-10 d-none d-sm-none d-md-block d-lg-block" style="background-color: #4d4d4d; ">
          <div class="container pt-3">
            <h5 class="text-light">Complaint List</h5>
            {% for message in messages %}
            {% if 'success' in message.tags %}
            <p id="success" style="color:rgb(224, 217, 217)">{{message}}</p>
            {% endif %}
            {% if 'info' in message.tags %}
            <p id="info" style="color:red">{{message}}</p>
            {% endif %}
            {% endfor %}
            <table class="table table-bordered bg-light mb-0">
             <thead>
                <tr>
                  <th scope="col">SN</th>
                  <th scope="col">Complaint ID</th>
                  <th scope="col">Room Tag</th>
                  <th scope="col">Room Owner</th>
                  <th scope="col">Complaint Type</th>
                  <th scope="col">Room  Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for report in reports %}
                <tr>
                  <th scope="row">{{ forloop.counter0|add:reports.start_index }}</th>
                  <td>{{ report.id }}</td>
                  <td>{{ report.room }}</td>
                  <td>{{ report.room.user }}</td>
                  <td>{{ report.report_type }}</td>
                  <td>
                    {% if report.room.blocked == True %}
                    Blocked
                    {% else %}
                    {{ report.room.room_status }}
                  {% endif %}</td>
                  
                  
                  <td>
                    
                    <a type="button" href="{% url 'reportdetail' report.pk%}" class="btn btn-primary btn-sm m-0">View Report</a>
                    {% if report.room.blocked == True %}
                    <button type="button" class="btn btn-primary btn-sm m-0" disabled>Room Blocked</button>
                    {% else %}
                    <a type="button" href="{% url 'c_blockroom' report.pk%}" class="btn btn-primary btn-sm m-0 mx-2">Block Room</a>
                    {% endif %}
                   
                    
                    <a type="button" href="{% url 'c_discard' report.pk%}" class="btn btn-primary btn-sm m-0">Discard Report</a>
                    
                    
                    <a type="button" class="btn btn-danger btn-sm m-0" data-bs-toggle="modal" data-bs-target="#DeleteModal{{report.room.pk}}" >Delete Room</a>
                     
                    <div class="modal fade" id="DeleteModal{{report.room.pk}}" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="DeleteModalLabel">Are you sure you want to Delete complaint?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <a type="submit" class="btn btn-primary btn-ok" href="{% url 'admin_delete_c_room' report.room.pk%}">Yes</a>
                          </div>

                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="bg-light pt-2 pe-2">
              <div class="row">
              <div class="col-6">
              <p class="fw-bold d-flex ps-3 justify-content-start">Showing {{reports.end_index}} of {{count}}</p>
            </div>
            <div class="col-6">
             <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                  {% if reports.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ reports.previous_page_number }}">Previous</a></li>
                  {% else %}
                    <li class="page-item disabled"><a class="page-link">Previous</a></li>
                  {% endif %}
                  {% for i in reports.paginator.page_range %}
                    {% if reports.number == i %}
                      <li class="page-item active"><a class="page-link">{{ i }}<span class="sr-only">(current)</span></a></li>
                    {% else %}
                      <li class="page-item" ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if reports.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ reports.next_page_number }}">Next</a></li>
                  {% else %}
                    <li class="page-item disabled"><a class="page-link">Next</a></li>
                  {% endif %}
                  </ul>
            </nav>
          </div>
            </div>
          </div>
        </div>
      </div>
{% endblock body %}
