    <!-- footer start -->
<div style="background-color: #000000;">
    <div class="container text-light pt-3">
    <div class="row">
        <div class="col-sm-4">
        <div>
            <h5 class="font-weight-bold mt-3 mb-4">Our Contact</h5>
            <address>
            <strong>Rento</strong><br>
            Chuchchepati, Kathmandu<br>
            ZipCode-44601 Bagmati Nepal</address>
            <p>
            <i class="icon-phone"></i> +977-9843151515 <br>
            <i class="icon-envelope-alt"></i> Rento@gmail.com
            </p>
        </div>
        </div>
        <div class="col-sm-4">
        <div>
            <h5 class="font-weight-bold mt-3 mb-4">Quick Link</h5>
            <ul class="quicklink list-unstyled nav-item ">
            <li><a class="text-light py-0" href="{% url 'home' %}">Home</a></li>
            <li><a class="text-light py-0" href="{% url 'rooms' %}">Rooms</a></li>
            <li><a class="text-light py-0" href="{% url 'about' %}">About Us</a></li>
            <li><a class="text-light py-0" href="{% url 'contact' %}">Contact us</a></li>
            </ul>
        </div>
        </div>
        <div class="col-sm-4">
        <div>
            <h5 class="font-weight-bold text-center mt-3 mb-4">Social Media</h5>
            <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1">
                <i class="fa fa-2x fa-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1">
                <i class="fa fa-2x fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-gplus mx-1">
                <i class="fa fa-2x fa-linkedin"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1">
                <i class="fa fa-2x fa-google-plus"></i>
                </a>
            </li>
            
            </ul>
        </div>
        </div>
    </div>
    </div>
    <hr class="bg-light">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" >
    © 2020 Copyright: Rento
    </div>
    <!-- Copyright -->
</div>
<!-- footer end -->