{% extends 'base.html' %}
{% load static %}
{% static "image" as baseUrl %}
{% block title %}AboutUs{% endblock title %}
{% block body %}

<div class="container-fluid text-light " style="background-color: #110f0f;">
  <div class="container px-5 mx-6 pt-5 pb-5 ">
      <div class="container px-5 mx-6 pt-4 pb-4 bg-dark">
          <h2 style="text-align:center;" class=" display-4 mb-4" mt-3 mb-4>About Us</h2>

          <div  class="my-5" style="margin: auto; text-align:center; max-width: 400px; min-width: 100px;">
          <p class="h6 mb-3"> <p>
          “Rento” is a website for providing a platform to rent rooms or search available rooms which will create an online platform for house owners of different places. The idea of “Rento'' is to provide an online platform for room owners and room seekers.
          </p>
          </div>
          <hr>
          <div class="my-5">
          <h2 style="text-align:center;" class="mb-4" mt-3 mb-4>ADD ROOM AND GET RENT YOUR ROOM TODAY</h2>
          <h2 style="text-align:center;" class="mb-4" mt-3 mb-4>SEARCH ROOM, ENQUIRE AND GET YOUR ROOM TODAY</h2>
          </div>
          <hr>
          <h5 style="text-align:center;" class=" display-6 mt-2 mb-4">Our Social Medias</h5>
          <div class="container py-5 text-center" >
            <div class="row" >
              <div class="col" >
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                  role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <rect width="100%" height="100%" fill="#777" />
                  <image href='{%static 'image/dev1.jpg'%}'  width="145"/>
                </svg>
      
      
                <h2>Diwakar Shrestha</h2>
                <p>diwakarshrestha@kcc.edu.np</p>
                <p><a class="btn btn-primary" href="https://www.facebook.com/diwakar.shrestha.3979" role="button"  target="_blank">Contact &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col" >
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                  role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <rect width="100%" height="100%" fill="#777" />
                  <image href='{%static 'image/dev2.jpg'%}'  width="145"/>
                </svg>
      
      
                <h2>Mani Maharjan</h2>
                <p>manimaharjan@kcc.edu.np</p>
                <p><a class="btn btn-primary" href="https://www.facebook.com/mAni.mrj" role="button"  target="_blank">Contact &raquo;</a></p>
              </div>
              <div class="col" >
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                  role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <rect width="100%" height="100%" fill="#777" />
                  <image href='{%static 'image/dev3.jpg'%}'  width="145"/>
                </svg>
      
      
                <h2>Anit Shrestha</h2>
                <p>anitshrestha@kcc.edu.np</p>
                <p><a class="btn btn-primary" href="https://www.facebook.com/anit.crestha.77" role="button"  target="_blank">Contact &raquo;</a></p>
            </div><!-- /.row -->
        </div>
        </div>
        
      </div>
  </div>
</div>




{% endblock body %}