{% extends 'base.html' %}
{% block title %}Registration{% endblock title %}
{% block body %}
<div class="container-fluid bg-light">
  <div class="row py-5 justify-content-center">
    <div class="registrationform col-lg-5" style="position: relative; padding-right: 100px; padding-bottom: 50px;">
      <h3>Registration</h3>

      <form method="POST">
        {% csrf_token %}
        <div class="mt-3 mb-3">
          <label for="Name" class="form-label">User Name</label><br>
          {{form.username}}
          <div style="color:red">
            {{form.username.errors}}
          </div>
        </div>
        <div class="mt-3 mb-3">
          <label for="Name" class="form-label">Firstame</label><br>
          {{form.first_name}}
        </div>
        <div class="mt-3 mb-3">
          <label for="Name" class="form-label">Lastname</label><br>
          {{form.last_name}}
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label><br>
          {{form.password1}}
          <div style="color:red">
            {{form.password1.errors}}
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Confirm Password</label><br>
          {{form.password2}}
          <div style="color:red">
            {{form.password2.errors}}
          </div>
        </div>


        <div class="mb-3">
          <label for="Phone" class="form-label">Phone Number</label><br>
          {{form.phone_number}}
          <div style="color:red">
            {% if form.phone_number.errors %}
            <ul class="errorlist">
              <li> Please Input Phone Number</li>
            </ul>
            {% endif %}
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label><br>
          {{form.email}}
          <div style="color:red">
            {{form.email.errors}}
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputAddress" class="form-label">Address</label><br>
          {{form.location}}
        </div>

        <button type="submit" class="btn btn-primary">Create Account</button>
      </form>
    </div>
    <div class="col-lg-5">
      <h3>Already Have An Account</h3>
      <a class="btn btn-primary mt-3" href="{% url 'user-login' %}">Login</a>
    </div>
  </div>
</div>
{% endblock body %}